.container{
    display: flex;
    text-align: center;
    width: 100%;
    height: 550px;
}

.sign-up{
    margin-left: 9%;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #ffff;
    background: rgba(254, 254, 254, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17px); /* Apply blur effect */
    border-radius: 20px;
    width: 465px;
    height: 570px;
}

.header {
    background: transparent;
    padding: 5px;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    width: 375px;
    margin-top: 20px;
}

.title {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
}

.title .part1 {
    color: #20584A;
}

.title .part2 {
    color: #FF9800;
}

.signupForm{
    width: 375px;
    height: 332px;
    max-width: 400px;
    margin: 10px auto;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 73%;
    transform: translateY(-50%);
    color: #909090;
    cursor: pointer;
}

label {
    margin-left: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    display: flex;
    color: #20584A;
    font-weight:500;
}
.input {
    padding: 16px;
    width: 375px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #909090;
    border-radius: 8px;
}

.input::placeholder {
    margin-left: 10px; /* Menambahkan padding kiri sebagai margin */
}


button {
    font-family: "DM Sans", sans-serif;
    padding: 10px 15px;
    border: none;
    border-radius: 24px;
    background-color: #2C7865;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 180px;
    height: 38px;
}

button:hover {
    background-color: #FF9800;
}

.content {
    margin-left: 5px;
    margin-top: 10%;
    max-width: 600px;
}

.content h1 {
    width: 75%;
    height: 30%;
    padding: 15px;
    text-align: left;
    font-family: 'poppins';
    font-size: 50px;
    font-weight:600;
    color: #ffff;
}

.content p {
    font-family: 'poppins';
    padding: 15px;
    font-size: 16px;
    text-align: left;
    color: #fff;
}

.forgot-password {
    font-weight:500;
    align-items: center;
    margin-top:10px ;
    font-size: 16px;
}

.forgot-password span a {
    text-decoration: none;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    color: #2C7865;
    cursor: pointer;
}
